.landing-container {
  display: block;
}

.landing-subtitle {
  color: white;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 800;
}

@media (min-width: 800px) and (max-width: 1440px) {
  .landing-subtitle {
    font-size: 20px;
  }
}

@media (min-width: 1441px) and (max-width: 1980px) {
  .landing-subtitle {
    font-size: 24px;
  }
}
