* {
  font-family: "Open Sans", Times, serif;
}

.navbar {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #8b0000,
    #ab1356,
    #a14fa3,
    #6f81d8,
    #12a9eb
  );
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-bottom: -150px;
}

@media (min-width: 376px) {
  .navbar {
    width: 1047px;
    height: 787px;
  }
}

@media (min-width: 801px) {
  .navbar {
    width: 100%;
    height: 100vh;
  }
}
